# Convex
NEXT_PUBLIC_CONVEX_URL=
CONVEX_DEPLOY_KEY=

# WorkOS
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=
NEXT_PUBLIC_WORKOS_REDIRECT_URI=http://localhost:3000/callback

# Graphiti Knowledge Engine
OPENAI_API_KEY=
GRAPHITI_API_URL=https://ping-graphiti.fly.dev
